body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    text-align: center;
    margin: 260px auto;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #ffffff;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}
input, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #3927da;
    border-radius: 1px;
}

button {
    background-color: #3927dacc;
    color: white;
    cursor: pointer; 
}